.yazi{
    text-align:center;
    font-size: 2rem;
    margin:2rem auto;
    width: 50vw;
}

.yazi1{
    background-color: yellowgreen;
    transform: rotateX(150deg);
}

.yazi2 {
    background-color: rgb(97, 50, 205);
    transform: rotatey(60deg);
}
.yazi3 {
    background-color: rgb(50, 135, 205);
    transform: rotate(45deg);
}

.yazi4{
    background-color: violet;
}

.yazi4:hover{
    transform: scale(2);
    transition: 150ms;
}


.box{
    background-color: crimson;
    width: 100px;
    font-weight: 800;
    height: 50px;
}

.x:hover{
    transform: translateX(50px);
}

.y:active{
    transform: translate(150px,150px);
}


/* .btn-div{
    text-align: center;
}

.btn{
    background-color:rgb(8, 129, 170);
    border:2px solid gray;
    padding:20px;
    font-size: 1.3rem;
    border-radius: 5px;
} */