@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

*{
    font-family: 'Climate Crisis', cursive;
}

li{
    background-color: lightslategray;}

.aktif{
    background-color: orchid;
}
ul{
    list-style-position: inside;
    list-style-type:"🌵";
    list-style-type: "🍯";
}

li{
    color: red;
    /* lilere verilen colordan a etkilenmez, a özel ilgi ister. */
}

a{
    color: orange;
    font-size: 25px;
    text-decoration: none;
}

/* lilerin uzerine maus ile gelindigi zaman  */
li:hover{
    background-color: palegreen;
    color: yellow;
    font-size: 50px;
}

a:hover{
    color: snow;
}



